body {
  background-color:#121212f1;
  color: white;
}

textarea {
  background-color:#ffffff2c;
  color: white;
}

.secondBox {
  background-color: #015101;
  border-radius: 10px;
}

.fourthBox {
  background-color: #620600;
  border-radius: 10px;
}

.male-pismo {
  font-size: 13px;
  color: rgb(185, 185, 185);
}


@media screen and (min-width: 1200px) {
  main {
    max-width: 1400px;
    margin: auto;
  }
}
